@charset "UTF-8";

div{
	border:#CC3366 medium solid;
	padding: 5px;
	background-color: #8DD5E3;
}
#N1{
	height:900px;
	width:1500px;
	display:-webkit-flex;
	webkit-flex-direction:row;
}
#n2a{
	-webkit-flex:1;
}
#n2b{
	-webkit-flex:1;
}
#n2c{
	-webkit-flex:1;
	display:-webkit-flex;
	webkit-flex-direction:column;
}

#n3a{
	-webkit-flex:1;
}
#n3b{
	-webkit-flex:1;
}
#n3c{
	-webkit-flex:1;
}

article{
	border:#CC3366 medium solid;
	padding: 5px;
}